<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArbeitszeitErfassung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArbeitszeitErfassung.Properties.Settings>
            <setting name="RoundTime15Minutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogfilePath" serializeAs="String">
                <value>%USERPROFILE%\Arbeitszeit\</value>
            </setting>
            <setting name="ArbeitszeitStd" serializeAs="String">
                <value>8</value>
            </setting>
        </ArbeitszeitErfassung.Properties.Settings>
    </userSettings>
</configuration>